input {
  width: 100%;
  height: 10vh;
}

.new-row {
  margin: 10px 5px;
}

.new-button {
  min-width: 80px;
}

body {
  background-image: url("/toDoBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}