input {
  width: 100%;
  height: 10vh;
  z-index: 1;
}

.new-row {
  margin: 10px 5px;
}

.new-button {
  min-width: 80px;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/toDoBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(5px);
  z-index: -1;
}